* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: rgb(53, 224, 96);
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	font-weight: 300;
	background: linear-gradient(
    90deg,
    rgba(48, 16, 255, .9) 0%,
    rgba(100, 115, 255, .8) 100%
  );
} 

h1 {
	font-size: 33px;
	position: absolute;
	top: -65px;
	width: 100%;
	font-size: 80px;
	font-weight: 100;
	text-align: center;
	color: #ffffff;
}

.todoapp {
	border-radius: 10px;
  	padding-bottom: 32px;
	margin: 130px 0 40px 0;
	position: relative;
	background: #fff;
}

.todoapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
} 

.new-todo {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	color: inherit;
	border: 1px solid #999;
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 16px 16px;
}

:focus {
	outline: 0;
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
	border-bottom: none;
}

.todo-list li .icon {
	display: block;
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 30px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
	cursor: pointer;
} 

.todo-list li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todo-list li.completed label {
	color:rgb(223, 51, 51);
	text-decoration: line-through;
}

.todo-list li .delete {
	color: rgba(100, 115, 255);
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 30px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
	cursor: pointer;
}

.todo-list li .delete:hover {
	color: rgb(232, 85, 0);
}

.footer {
	color: rgb(232, 85, 0, 0.7);
	padding: 10px 20px;
	height: 20px;
	text-align:start;
	border-top: 1px solid #e6e6e6;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
}

.filters {
	margin: 0;
	padding: 0 15px;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

.filters li {
	display: inline;
}

.filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 10px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
}

.filters li a:hover {
	color:rgb(232, 85, 0);
	border-color: rgb(232, 85, 0);
}

.filters li a.selected {
	color:rgb(232, 85, 0);
	border-color: rgb(232, 85, 0);
}

.clear-completed,
.clear-completed:active {
	color:rgb(232, 85, 0, 0.7);
	padding: 0 5px;
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgb(232, 85, 0, 0.7);
	border-radius: 3px;
}

.clear-completed:hover {
	color:rgb(232, 85, 0);
	border-color: rgb(232, 85, 0);
}